body{
  margin:0;
}
.container{
  position:relative;
  width:300px;
  height:300px;
  background-color:grey;
}
.red{
  height:100px;
  width:100px;
  background-color:red;
  position:absolute;
  display:inline-block;
  right:0px;
  border:solid 5px;

}
.blue{
  height:100px;
  width:100px;
  background-color:blue;
  position:absolute;
  display:inline-block;
  left:80px;
  top:0px;
  border:solid 5px;
}
.yellow{
  height:100px;
  width:100px;
  background-color:yellow;
  position:fixed;
  display:inline-block;
  left:0px;
  top:0px;
  border:solid 5px;
}
